// Liens Cliquables
.link {
  text-decoration: none;
  color: #007AFF;

  &:hover {
    cursor: pointer;
  }
}

h3 {
  @media screen and (max-width: 550px) {
    margin-left: -10%;
    margin-bottom: 2em;
  }
}

hr {
  width: 100%;
  color: #E5E5E5;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1.5%;
  margin-bottom: 7%;

  @media screen and (max-width: 550px) {
    margin: -10%;
  }

  .check, .account {
    display: flex;
    justify-content: space-between;
    font-size: small;

    @media screen and (max-width: 550px) {
      font-size: x-small;
    }
  }

  .check {
    @media screen and (max-width: 550px) {
      margin-top: -3em;
    }
  }
  .account {
    justify-content: center;

    @media screen and (max-width: 550px) {
      font-size: x-small;
      margin-top: 1em;
    }
  }
}
