<!-- Logo + Texte d'accueil -->
<h3 class="title">
  Nice to see you again
</h3>
<!-- Formulaire Login -->
<form>
  <!-- Inputs Email & Password -->
  <app-input label="Login" field="email" placeholder="Email or phone number" type="email"></app-input>
  <app-input label="Password" field="password" placeholder="Enter Password" type="password"></app-input>
  <!-- Checkbox -->
  <div class="check">
    <app-checkbox></app-checkbox>
    <div>
      <a class="link" routerLink="/auth/forgot-password">Forgot password ?</a>
    </div>
  </div>
  <!-- Boutons Validation & Google-->
  <app-button type="submit" className="submit" value="Sign in"></app-button>
  <hr>
  <app-button type="submit" className="google" icon="assets/images/login/google.webp" value="Or sign in with Google">
  </app-button>
  <!-- Lien vers Register -->
  <div class="account">
    Don't have an account ?
    <div>
      &nbsp; <a class="link" routerLink="/auth/register">Sign up now</a>
    </div>
  </div>
</form>
