form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1.5%;
  margin-bottom: -7%;

  @media screen and (max-width: 550px) {
    margin: -10%;
  }
}

h3 {
  @media screen and (max-width: 550px) {
    margin-left: -10%;
    margin-bottom: 2em;
  }
}

.account {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;

  @media screen and (max-width: 550px) {
    font-size: x-small;
    margin-top: 1em;
  }
}

.validbutton {
  margin-top: 7%;
}

// Liens Cliquables
.link {
  text-decoration: none;
  color: #007AFF;

  &:hover {
    cursor: pointer;
  }
}
