<!-- Logo + Texte d'accueil -->
<h3 class="title">
  Register
</h3>
<!-- Formulaire Register -->
<form>
  <!-- Champ Username -->
  <app-input label="Username" field="text" placeholder="Username" type="text" name="username"></app-input>
  <!-- Champ Email -->
  <app-input label="Email" field="email" placeholder="Email" type="email" name="email"></app-input>
  <!-- Champ Password -->
  <app-input label="Password" field="password" placeholder="Password" type="password" name="password">
  </app-input>
  <!-- Champ Confirm Password -->
  <app-input label="Confirm Password" field="passwordConfirm" placeholder="Confirm Password" type="password"
    name="passwordConfirm"></app-input>
  <!-- Champ Phone -->
  <app-input label="Phone Number" field="number" placeholder="Phone Number" type="text" name="phone">
  </app-input>
  <!-- Bouton Validation Formulaire -->
  <div class="validbutton">
  <app-button type="submit" className="submit" value="Register"></app-button>
</div>
  <!-- Lien vers Sign In -->
  <div class="account">
    Already registered ?
    <div>
      &nbsp; <a class="link" routerLink="/auth/login">Sign in</a>
    </div>
  </div>
<form>
