<div class="container">

  <!-- TEMPLATE FORMULAIRE (Côté Gauche)-->
  <div class="background">
  </div>

  <!-- TEMPLATE FORMULAIRE (Côté Droit)-->
  <div class="formulaire">
    <!-- HEADER -->
    <div class="header">
      <div class="logo">
        <img routerLink="/header" src="/assets/images/login/uiunicorn.svg" alt="UI Unicorn">
        <div class="title">
          UI Unicorn
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>

    <!-- FOOTER -->
    <div class="footer">
      <div class="figma">
        <img src="/assets/images/login/figma.png" alt="UI Unicorn">
        <div class="link">
          @uiunicorn
        </div>
      </div>
      <div class="copyright">
        © Perfect Login 2021
      </div>
    </div>
  </div>
</div>
