// Container Principal
.container {
  display: flex;
  background-color: white;
  // background-color: #1E1F25;
  color: black;
  font-family: Poppins, sans-serif;
  width: 100vw;
  height: 100vh;
}

// Fond d'écran formulaire
.background {
  background-image: url(/assets/images/login/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  display: block;
  width: 70%;

  @media screen and (min-width:550px) and (max-width:850px) {
    width: 50%;
  }

  @media screen and (max-width: 550px) {
    display: none;
  }
}

// Formumlaire
.formulaire {
  display: flex;
  flex-direction: column;
  padding: 3em;
  height: 100%;
  flex: 1;
  gap: 1em;

  @media screen and (max-width: 550px) {
    gap: 1.7em;
  }

  // Logo
  .logo {
    display: flex;
    align-items: center;
    gap: 2em;
    font-size: small;
  }

  .title {
    font-weight: bold;
  }

  // Liens Cliquables
  .link {
    text-decoration: none;
    color: #007AFF;

    &:hover {
      cursor: pointer;
    }
  }

  // Footer
  .footer {
    display: flex;
    justify-content: space-between;
    font-size: smaller;
    align-items: center;
    padding-top: 25%;

    .figma {
      display: flex;
      align-items: center;

      img {
        width: 10%;
      }
    }
    .copyright {
      margin-left: -20em;
    }

    @media screen and (max-width: 550px) {
      font-size: x-small;
    }
  }
}
