@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.submit,
.google {
  display: flex;
  background-color: #007AFF;
  color: white;
  width: 100%;
  padding: 0.9em;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.3px;
}

.google {

  background-color: #333333;
  font-size: small;
  font-weight: lighter;

  img {
    width: 5%;
  }
}
