.sidebar {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  background-color: #1E1F25;
  padding: 1em;
  align-items: center;

}

.logo {
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.2);
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;

  li {
    list-style: none;
    cursor: pointer;
    margin: 0.5em;
  }

  li:hover {
    transform: scale(1.5);
  }
}
