// Liens Cliquables
.link {
  text-decoration: none;
  color: #007AFF;

  &:hover {
    cursor: pointer;
  }
}

h3 {
  @media screen and (max-width: 550px) {
    margin-left: -10%;
    margin-bottom: 2em;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 4em;
  padding: 1.5%;
  padding-top: 40%;
  margin-bottom: 15%;

  @media screen and (max-width: 550px) {
    margin: -10%;
  }
}

.account {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;

  @media screen and (max-width: 550px) {
    font-size: x-small;
    margin-top: -5em;
  }
}
