<!-- Logo + Texte d'accueil -->
<h3 class="title">
  Forgot Password ?
</h3>
<!-- Formulaire Forgot Password -->
<form>
  <!-- Inputs Email & Password -->
  <app-input label="Email" field="email" placeholder="Email or phone number" type="email"></app-input>
  <!-- Bouton Valider-->
  <app-button type="submit" className="submit" value="Send"></app-button>
  <!-- Lien vers Register -->
  <div class="account">
    Don't have an account ?
    <div>
      &nbsp; <a class="link" routerLink="/auth/register">Sign up now</a>
    </div>
  </div>
</form>
