@import url(https://fonts.googleapis.com/css?family=Poppins);

html, body {
  background-color: #131517;
  color: white;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
