<div class="inputform">
  <label [for]="field">{{label}}</label>
  <input [id]="field" [name]="field" [type]="type" [placeholder]="placeholder" #inputRef (change)="value.emit(inputRef.value)"/>
  <span class="eye" *ngIf="isPassword" (click)="togglePassword()"><img src="/assets/images/login/eye.png" alt="Toggle Password"></span>
</div>
