@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Classe des inputs/labels & buttons
.inputform {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

label {
  padding-left: 1.5em;
  font-size: small;

  @media screen and (max-width: 550px) {
    display: none;
  }
}

input {
  background-color: #F2F2F2;
  padding: 1em;
  border-radius: 6px;
  border: 0.5 solid #E5E5E5;
  font-family: Roboto, sans-serif;
  color: #808080;
  align-items: flex-end;

  @media screen and (max-width: 550px) {
    padding: -10em;
  }
}

.eye {
    position: relative;
    top: -2.5em;
    left: 88%;
    margin: 0;
    padding: 0;
    display: block;
    height: 0px;

    @media screen and (max-width:650px) {
        left: 92%;
    }
}
